<button class="btn btn-danger pull-right" ng-click="logout">Logout</button>
<div class="text-center">
	<pagination total-items="totalItems" items-per-page=1 ng-change="pageChanged()"
				ng-model="currentPage" class="pagination-lg" boundary-links="true" rotate="false"
				num-pages="numPages" max-size="15"></pagination>
</div>

<div class="row">
	<div class="col-md-6">
		<pdf-viewer
				delegate-handle="my-pdf-container"
				url="pdfUrl"
				scale="1"
				show-toolbar="true"></pdf-viewer>


	</div>
	<div class="col-md-1">

	</div>
	<div class="col-md-5">


		<div class="form-horizontal">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Full Name</label>
				<div class="col-sm-8">
					<input type="text" ng-model="name" class="form-control" id="inputEmail3" placeholder="Full Name">
				</div>
			</div>



			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-8">
					<textarea ng-model="address" class="form-control" id="inputEmail3" placeholder="Full Address"></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email ID</label>
				<div class="col-sm-8">
					<input ng-model="email" type="text" class="form-control" id="inputEmail3" placeholder="Email ID">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Mobile Number</label>
				<div class="col-sm-8">
					<input ng-model="mobile" type="text" class="form-control" id="inputEmail3" placeholder="Mobile Number">
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Reason for Meeting</label>
				<div class="col-sm-8">
					<textarea ng-model="reason" type="text" class="form-control" id="inputEmail3" placeholder="Reason for meeting"></textarea>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8">
					<button ng-click="storeCitizenInfo()" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>

		{{currentPage}}
		{{fileName}}

		<pager total-items="totalItems" ng-change="pageChanged()" items-per-page=1 ng-model="currentPage"></pager>

	</div>


</div>
</div>




