<!--<link rel="stylesheet" type="text/css" href="../styles/style.css">-->
<!--<div class="container">-->
	<!--<div class="header">-->
		<!--<center> Citizen Feedback System</center>-->
	<!--</div>-->
	<!--<div class="main">-->
		<!--<div class="content">-->

		<!--</div>-->

		<!--</div>-->
	<!--</div>-->
<!--</div>-->

<div class="row">
	<div class="col-md-1">

	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Uplaod File</h3>
					</div>
					<div class="panel-body">

						{{department3.selected.name}}
						<div class="form-group form-input-element">
							<label for="" class="col-sm-5 control-label">Select Department</label>
							<div class="col-sm-7">
								<select ng-model="department">
									<option ng-repeat="department in departments" value="{{department.name}}">
										{{department.name}}
									</option>
								</select>
							</div>
							<div class="col-sm-1"></div>
						</div>

						<br><hr>
						<div class="form-group form-input-element">
							<label for="" class="col-sm-5 control-label">Choose File</label>


								<div class="col-sm-7">
									<input type="file" title="" accept="*" multiple="true"
										   ng-file-select="onFileSelect($files)" />
								</div>


						</div>

						<br>
						<hr>
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-3">
								<button  ng-click="processForms()" class="btn btn-primary"><i class="fa fa-gears"></i> Process Files</button>
							</div>

						</div>




					</div>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-danger pull-right">Logout</button>

			</div>
		</div>
	</div>
	<div class="col-md-1">

	</div>
</div>


