<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
<div class="container">
	<div class="header">
		<center> Citizen Feedback System</center>
	</div>
	<div class="main">
		<div class="content">
			<label>Select Department</label>
			<select id="dept_list">
				<option ng-repeat="department in departments" value="{{department.dept_name}}">
					{{department.dept_name}}
				</option>
			</select>
			<label class="browselbl">Choose folder</label>
			<input type="text" name="browse" id="browse">
			<input type="button" value="...">
			<button class="uploadbtn">
				<img src="images/upload_icon.png" alt="" class="upload_icon">Upload</button>
			<button class="cancelbtn">Cancel</button>
			<button class="processbtn">Process Files</button>
		</div>
	</div>
</div>
</body>
</html>